
@{
    ViewBag.SourceFiles = "~/Models/CarInfoModel.cs";
    ViewBag.Title = "FormLayout/LayoutCarInfoAdd";
    var F = Html.F();
}
@model CCSIM.Web.Models.CarInfoModel
@section body {
    @(F.Form().ID("Form_CarAdd").LabelAlign(LabelAlign.Top).BodyPadding(10).ShowBorder(false).ShowHeader(false).LabelAlign(LabelAlign.Right).IsViewPort(true)
    .Items(
   F.Panel().Layout(LayoutType.HBox).BoxConfigAlign(BoxLayoutAlign.Stretch).ShowHeader(false).ShowBorder(false)
                                .Items(
    F.TextBox().ID("VehicleNo").Required(true).ShowLabel(true).BoxFlex(1).Label("<span style='color:red'>*</span>车牌号码"),
    F.DropDownListFor(m => m.vehicleType.DropDownList).ID("VehicleType").Required(true).ShowLabel(true).ShowRedStar(false).Label("<span style='color:red'>*</span>车辆类型").AutoSelectFirstItem(false).EmptyText("请选择车辆类型")
        .Items(Model.vehicleType.DropDownListItem.ToArray()).BoxFlex(1)
        ),
   F.Panel().Layout(LayoutType.HBox).BoxConfigAlign(BoxLayoutAlign.Stretch).ShowHeader(false).ShowBorder(false)
                                .Items(
    F.TextBox().ID("VehicleBrand").Label("车辆品牌").BoxFlex(1),
    F.TextBox().ID("Owner").Label("所有人").BoxFlex(1)
    ),
   F.Panel().Layout(LayoutType.HBox).BoxConfigAlign(BoxLayoutAlign.Stretch).ShowHeader(false).ShowBorder(false)
                                .Items(
    F.DropDownListFor(m => m.belongDept.DropDownList).ID("BelongDeptId").Required(true).ShowLabel(true).ShowRedStar(false).Label("<span style='color:red'>*</span>所属部门").AutoSelectFirstItem(false).EmptyText("请选择所属部门")
        .Items(Model.belongDept.DropDownListItem.ToArray()).BoxFlex(1),
    F.DropDownListFor(m => m.belongNet.DropDownList).ID("BelongNetId").Required(true).ShowLabel(true).ShowRedStar(false).Label("<span style='color:red'>*</span>所属网格").AutoSelectFirstItem(false).EmptyText("请选择所属网格")
        .Items(Model.belongNet.DropDownListItem.ToArray()).BoxFlex(1)
        ),
    F.DropDownListFor(m => m.ownerType.DropDownList).ID("OwnerType").Required(true).ShowLabel(true).ShowRedStar(false).Label("<span style='color:red'>*</span>用车部门").AutoSelectFirstItem(false).EmptyText("请选择用车部门")
        .Items(Model.ownerType.DropDownListItem.ToArray()),
    F.TextBox().ID("Cldwzdsbh").Label("终端识别号"),
    F.TextBox().ID("Wlwkhm").Label("物联网卡号码"),
    F.TextArea().ID("Remark").Height(160).Label("备注")
    )
    .Toolbars(
    F.Toolbar().ID("Toolbar").ToolbarAlign(ToolbarAlign.Right).Position(ToolbarPosition.Bottom)
    .Items(
    F.Button().ID("btnAdd").Text("新增").IconFont(IconFont._Save).OnClick(Url.Action("btnAdd_Click"), "Form_CarAdd").ValidateForms("Form_CarAdd"),
    F.Button().Type(ButtonType.Reset).ID("btnReset").Text("重置").IconFont(IconFont._Refresh)
    )
    )
    )
}

@section script {
    <script src="~/res/js/grid.js"></script>
}
