@{
    Layout = null;
}

<body>
    <link href="~/thirdpart/select/bootstrap-select.min.css" rel="stylesheet" />
    <link href="~/thirdpart/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <table id="table1" cellspacing="0" cellPadding="0" border="0" width="100%">
        <tr align="center">
            <td vAlign="middle" align="center" style="width:18%">
                <div class="input-group input-group-sm" style="width:220px">
                    <span class="input-group-addon">警号：</span>
                    <input id="jh" type="text" class="form-control" placeholder="输入警号">
                </div>
            </td>
            <td vAlign="middle" align="center" style="width:18%">
                <div class="input-group input-group-sm" style="width:220px">
                    <span class="input-group-addon">姓名：</span>
                    <input id="xm" type="text" class="form-control" placeholder="输入姓名">
                </div>
            </td>
            <td vAlign="middle" align="center" style="width:18%">
                <div class="input-group input-group-sm" style="width:220px">
                    <span class="input-group-addon">用户组：</span>
                    <select id="yhz" class="form-control selectpicker"></select>
                </div>
            </td>
            <td vAlign="middle" align="center" style="width:18%">
                <div class="input-group input-group-sm" style="width:220px">
                    <span class="input-group-addon">单位：</span>
                    <select id="dw" class="form-control selectpicker"></select>
                </div>
            </td>
            <td vAlign="middle" align="center" style="width:18%">
                <div class="input-group input-group-sm" style="width:220px">
                    <span class="input-group-addon">状态：</span>
                    <select id="zt" class="form-control selectpicker">
                        <option value="-1">全部</option>
                        <option value="0">账号密码登陆</option>
                        <option value="1">数字证书登陆</option>
                        <option value="2">锁定</option>
                    </select>
                </div>
            </td>
            <td vAlign="middle" align="center" style="width:10%">
                <div class="btn-group btn-group-sm">
                    <button id="xgxx" type="button" class="btn btn-default" style=" width:60px">查询</button>
                    &nbsp;&nbsp;&nbsp;<button id="yhtj" data-toggle="modal" data-target="#myModal1" type="button" class="btn btn-default" style=" width:60px">添加</button>
                </div>
            </td>
        </tr>
    </table>
    <select id="id_select" class="selectpicker bla bla bli" multiple data-live-search="true">
        <option>cow</option>
        <option>bull</option>
        <option>ASD</option>
        <option selected>Bla</option>
        <option>Ble</option>
    </select>
</body>
<script src="~/res/js/libs/jquery-2.1.0.min.js"></script>
<script src="~/thirdpart/select/bootstrap-select.min.js"></script>
<script src="~/thirdpart/bootstrap/bootstrap.min.js"></script>
<script type="text/javascript">


    $(window).on('load', function () {


        $('.selectpicker').selectpicker({
            'selectedText': 'cat'
        });


        // $('.selectpicker').selectpicker('hide');
    });

</script>
